h2{
  font-family; Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
}
#brush{
  background-color: MediumSpringGreen;
}
#frame{
    background-color: lightcoral;
}
#paint{
  background-color: SkyBlue;
}
.price{
  color: blue;
  font-weight: bold;
  font-style: Helvetica;
}
#dasmoto{
  font-family: Helvetica;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg);
}
